<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nl.appcetera.mapp"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
   		<uses-library android:name="com.google.android.maps" />
        <activity android:name="nl.appcetera.mapp.Mapp"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MetaEditScreen"
				  android:label="@string/meta_activitylabel">
		</activity>
		<activity android:name=".SettingsScreen"
				  android:label="@string/settings_activitylabel">
		</activity>
		<activity android:name=".AccountScreen"
				  android:label="@string/account_activitylabel">
		</activity>
		<activity android:name=".LoginScreen"
				  android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".InvitesScreen"
				  android:label="@string/invites_activitylabel">
		</activity>
		<activity android:name=".GroupsScreen"
				  android:label="@string/groups_activitylabel">
		</activity>
		<activity android:name=".GroupAdminScreen"
				  android:theme="@android:style/Theme.NoTitleBar">
		</activity>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
 	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>